name: Flutter Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Updated to v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      # Flutter 'format' command eka dan 'dart format' kiyala wenas wela thiyenne
      - name: Format code
        run: dart format .

      - name: Build APK
        run: flutter build apk --release

      # Error eka awe meke v3 thibba nisa. Dan v4 dala thiyenne.
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
