name: Code Validation

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Initialize Project Structure
        run: |
          if [ ! -d "android" ]; then
            flutter create --platforms=android .
          fi

      - name: Get dependencies
        run: flutter pub get

      - name: Verify Formatting
        run: dart format --set-exit-if-changed .

      - name: Analyze Code
        run: flutter analyze

      - name: Run Tests
        run: flutter test
